@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the new theme globally */
body {
    background-color: #0D1B2A; /* brand-dark */
    color: #E0E1DD;           /* brand-light */
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Reusable class for the playfair font */
.playfair-display {
    font-family: 'Playfair Display', serif;
}